*, *::before, *::after{
  box-sizing:border-box;
}

body{
  background:#697fda;
}

.App{
  height: 100vh;
  width: 100%;
  
}

.calculator-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(80px, auto) repeat(5, 80px);
  
}

.calculator-grid > button{
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  border:1px solid rgb(5, 5, 5);
  background-color: #fafafa75;
  margin: 3px;
  background-color: white;
}

.calculator-grid > button:hover{
  background-color:rgb(255, 0, 0);
}

.span-two {
  grid-column: span 2;
  background-color: red;
}

.output{
  grid-column: 1 / -1;
  margin-bottom: .5rem;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 1rem;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previus-operand{
  color: #00000090;
  font-size: 1.5rem;
}

.output .current-operand{
  color: #ff000075;
  font-size: 1.5rem;
}